/* App.css */

body {
  
  background-color: black;
  color: white; /* Set text color to white for better readability on a black background */
}

.container {
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

h1 {
  font-size: 24px;
  color: white;
}

h2 {
  font-size: 20px;
  color:white;
}

/* Header styles */
.header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
}

/* Navigation menu */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #333;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
}

.sidebar a:hover {
  background-color: #007bff;
  color: #fff;
}

/* Main content */
.main-content {
  margin-left: 250px;
  padding: 20px;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Button styles */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 0;
  }

  .main-content {
    margin-left: 0;
  }
}
