/* AttendanceManagement.css */


  
  /* Apply custom styles to the AttendanceManagement component */
  .container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .add-form,
  .edit-form {
    
  
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-form input,
  .edit-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
   
    color: #000;
  }
  
  .add-form button,
  .edit-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    
  }
  
  .add-form button:hover,
  .edit-form button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table,
  th,
  td {
    border: 1px solid #ccc;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  
  thead {
    background-color: #f0f0f0;
  }
  
  th {
    font-weight: bold;
  }
  
  button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
  }
  
  button:hover {
    text-decoration: underline;
  }
  
  /* Calendar styles */
  .date-picker {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .date-picker input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
    color: #000;
  }
  
  .date-picker .calendar {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }
  
  .date-picker .calendar.active {
    display: block;
  }
  
  .date-picker .calendar .date {
    padding: 10px;
    cursor: pointer;
  }
  
  .date-picker .calendar .date:hover {
    background-color: #f0f0f0;
  }
  
  .date-picker .calendar .date.selected {
    background-color: #007bff;
    color: #fff;
  }
  